
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/mysql/
/public/bundles/
app/var/
app/var/cache
app/vendor/
###< symfony/framework-bundle ###
